<?xml version="1.0" encoding="utf-8" standalone="no"?>
<config>
	<modules>
		<Nektria_ReCS>
			<version>1.0.8</version>
		</Nektria_ReCS>
	</modules>

	<frontend>
		<routers>
			<recs>
				<use>standard</use>
				<args>
					<module>Nektria_ReCS</module>
					<frontName>recs</frontName>
				</args>
			</recs>
		</routers>
		<layout>
			<updates>
				<recs>
					<file>recs.xml</file>
				</recs>
			</updates>
		</layout>
		<translate>
			<modules>
				<nektria_recs>
					<files>
						<default>Nektria_Translations.csv</default>
					</files>
				</nektria_recs>
			</modules>
		</translate>
	</frontend>

	<adminhtml>
		<translate>
			<modules>
				<translations>
					<files>
						<default>Nektria_Translations.csv</default>
					</files>
				</translations>
			</modules>
		</translate>
		<layout>
			<updates>
				<recs>
					<file>recs.xml</file>
				</recs>
			</updates>
		</layout>
	</adminhtml>

	<global>
		<blocks>
			<nektria_recs>
				<class>Nektria_ReCS_Block</class>
			</nektria_recs>
		</blocks>
		<helpers>
			<nektria>
				<class>Nektria_ReCS_Helper</class>
			</nektria>
		</helpers>
		<models>
			<nektria_recs>
				<class>Nektria_ReCS_Model</class>
				<resourceModel>nektria_recs_resource</resourceModel>
			</nektria_recs>
			<nektria_recs_resource>
				<class>Nektria_ReCS_Model_Resource</class>
				<entities>
					<lastmile>
						<table>nektria_recs_lastmile</table>
					</lastmile>
				</entities>
			</nektria_recs_resource>
			<sales>
				<rewrite>
					<order>Nektria_ReCS_Model_Sales_Order</order>
				</rewrite>
			</sales>
		</models>

		<resources>
			<nektria_recs_setup>
				<setup>
					<module>Nektria_ReCS</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</nektria_recs_setup>
			<nektria_recs_read>
				<connection>
					<use>core_read</use>
				</connection>
			</nektria_recs_read>
			<nektria_recs_write>
				<connection>
					<use>core_write</use>
				</connection>
			</nektria_recs_write>
			
		</resources>

		<events>
			<resource_get_tablename>
				<observers>
					<nektria_recs_shipping>
						<class>Nektria_ReCS_Model_Observer</class>
						<method>add_autoloader</method>
					</nektria_recs_shipping>
				</observers>
			</resource_get_tablename>
			<checkout_controller_onepage_save_shipping_method>
				<observers>
					<nektria_recs_shipping>
						<type>singleton</type>
						<class>Nektria_ReCS_Model_Observer</class>
						<method>checkout_controller_onepage_save_shipping_method</method>
					</nektria_recs_shipping>
				</observers>
			</checkout_controller_onepage_save_shipping_method>
			<controller_action_predispatch_gomage_checkout_onepage_ajax>
				<observers>
					<nektria_recs_shipping>
						<type>singleton</type>
						<class>Nektria_ReCS_Model_Observer</class>
						<method>checkout_controller_onepage_save_shipping_method</method>
					</nektria_recs_shipping>
				</observers>
			</controller_action_predispatch_gomage_checkout_onepage_ajax>
			<checkout_submit_all_after>
				<observers>
					<nektria_recs_shipping>
						<type>singleton</type>
						<class>Nektria_ReCS_Model_Observer</class>
						<method>checkout_submit_all_after</method>
					</nektria_recs_shipping>
				</observers>
			</checkout_submit_all_after>
			<checkout_quote_destroy>
				<observers>
					<nektria_recs_shipping>
						<type>singleton</type>
						<class>Nektria_ReCS_Model_Observer</class>
						<method>checkout_quote_destroy</method>
					</nektria_recs_shipping>
				</observers>
			</checkout_quote_destroy>	
			<sales_order_place_before>
				<observers>
					<nektria_recs_shipping>
						<type>singleton</type>
						<class>Nektria_ReCS_Model_Observer</class>
						<method>sales_order_place_before</method>
					</nektria_recs_shipping>
				</observers>
			</sales_order_place_before>
			<gomage_checkout_save_quote_before>
				<observers>
					<nektria_recs_shipping>
						<type>singleton</type>
						<class>Nektria_ReCS_Model_Observer</class>
						<method>sales_order_place_before</method>
					</nektria_recs_shipping>
				</observers>
			</gomage_checkout_save_quote_before>	
			<!-- Logging all events
			<controller_action_predispatch>
				<observers>
					<nektria_recs_observer_log>
						<type>singleton</type>
						<class>Nektria_ReCS_Model_Observer</class>
						<method>controller_action_predispatch</method>
					</nektria_recs_observer_log>
				</observers>
			</controller_action_predispatch>
			  -->			
		</events>
	</global>

	<default>
		<carriers>
			<nektria_recs>
				<active>1</active>
				<model>nektria_recs/carrier</model>
				<title>RECShipping by Nektria</title>
				<sort_order>1</sort_order>
				<sallowspecific>0</sallowspecific>
				<!-- default demo apikey -->
				<apikey></apikey>
				<sandbox>1</sandbox>
				<lastmiledefault>1</lastmiledefault>
			</nektria_recs>
		</carriers>
	</default>
</config>
